<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="SourceFolder" value="C:\Users\Gijs\Desktop\directory\testfile"/>-->
    <add key="SourceFolder" value="C:\Users\Véronique Wuyts\Desktop\MMMtest"/>
    <add key="ArchiveFolder" value = ""/>
    <add key ="Database" value="Galenus"/>
    <add key="Schema" value="JULIETTE"/>
    <add key="Server" value="localhost"/>
    <add key="UserID" value=""/>
    <add key="Password" value=""/>
  </appSettings>
</configuration>